<div class="card">
  <h4 class="card-header text-center">Your Cart</h4>
  <%= render partial: 'carts/items_list', locals: { items: items, total_items_price: cart_presenter.total_price } %>
  <div class = "card-footer">
    <div class= "row">
      <div class= "col-6">
        <%= link_to "Check Out", cart_path, method: :post, class: 'btn btn-primary mx-1' %>
      </div>
      <div class = "col-6">
        <%= button_to "Empty Cart", cart_path, method: :delete, class: "btn btn-danger mx1 float-right" %>
      </div>
    </div>
  </div>
</div>
